#background {
    margin: 0;
    background-color: #010515;
}

#HomeButton {
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 1em;
    animation: glitch 5.2s infinite;
}

#HomeButton:hover {
    animation: pulse2 1.2s infinite, glitch 1s infinite;
}

#Title {
    font-family: "Jersey 15";
    font-size: 3.5rem;
    display: inline-block;
    text-align: center;
    color: #11b7ff;
    animation: lights 5s 740ms linear infinite;
}

#Banner {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: 0px;
    border-bottom: solid #323c69 3px;
    background-color: #1a1d2f;
}

#ExLink {
    color: #21b568;
    text-decoration: none;
}

#ExLink:visited {
    color: #21b568;
    text-decoration: none;'
}

#ExLink:hover {
    text-decoration: underline;
}

#YTLink {
    font-family: "Source Code Pro";
    font-size: 16pt;
    font-weight: 700;
    color: #d1f1ff;
    width: 35em;
    height: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
    border: 4px solid #10d7ee;
    border-radius: 50px;
    text-indent: 0.5em;
    background-color: #010515;
}

#YTLink:focus {
    outline: none;
}

#YTLink::placeholder {
    color: #004867;
}

#YTLink::placeholder:after {
      display: inline-block;
      position: relative;
      animation: 0.35s 4.65s textGlitch;
      animation-timing-function: steps(2, end);
}

#YTLink::placeholder:after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);

        content: 'Select Format';
        display: block;
        position: absolute;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #00189b 5%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #000000;
        border: 0;
        text-shadow: -3px -3px 0px #ff0042, 3px 3px 0px #00E6F6;
        clip-path: var(--slice-0);
}

#Buttons {
    display: grid;
    width: 45em;
    margin-top: 1em;
    margin-left: 6em;
    margin-bottom: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#ConvertButton {
    font-family: "Jersey 15";
    font-size: 20pt;
    font-weight: 700;
    height: 1.75em;
    width: 5em;
    background-color: #010515;
    color: #11b7ff;
    border-radius: 50px;
    border: solid 4px #11b7ff;
    cursor: pointer;
}

#ConvertButton:hover {
    background-color: #11b7ff;
    color: #010515;
}

#Stall {
    color: #21b568;
    font-family: "Jersey 15";
    font-weight: 700;
    font-size: 20pt;
}

#thumbnail {
    margin-top: 1em;
    width: 25em;
    border: 4px solid #21b568;
    border-radius: 50px;
    display: none;
}

#InstructionsDiv {
    margin: auto;
    padding: 1em;
    border-radius: 50px;
    width: 50em;
    background-color: #141729;
    margin-top: 2em;
}

p {
    color: #d1f1ff;
    font-family: "Source Code Pro";
    font-weight: 700;
}

/* Dropdown Specialized CSS */

  .custom-select {
      position: relative;
      width: 5.5em;
      display: inline-block;
      max-width: 100%;
      font-size: 20pt;
      font-family: "Jersey 15";
      font-weight: 700;
      background-color: #010515;
      color: #11b7ff;
  }

  .select-button {
      background-color: #010515;
      color: #11b7ff;
      font-family: "Jersey 15";
      font-weight: 700;
      font-size: 20pt;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.75em;
      width: 7.5em;
      border: 4px solid #11b7ff;
      border-radius: 50px;
      cursor: pointer;
      padding: 0.2em;
      transition: border 0.3s ease, color 0.3s ease, cursor 0.3s ease;
  }

.select-button:disabled {
     color: #004867;
     border: solid 4px #004867;
     cursor: not-allowed;
     transition: border 0.3s ease, color 0.3s ease, cursor 0.3s ease;
}


  .arrow {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #11b7ff;
      transition: transform ease-in-out 0.3s;
  }

.select-button:disabled .arrow{
    border-top: 6px solid #004867;
    transition: border-top 0.3s ease;
}

.select-button:not(:disabled) .arrow{
    border-top: 6px solid #11b7ff;
    transition: border-top 0.3s ease;
}

  .select-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border: 4px solid #11b7ff;
      border-radius: 0.25rem;
      background-color: #010515;
      list-style: none;
      padding: 10px;
      margin: 10px 0 0;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
      /*max-height: 200px;*/
      overflow-y: auto;
  }

  .select-dropdown::-webkit-scrollbar {
      width: 7px;
  }

  .select-dropdown::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 25px;
  }

  .select-dropdown::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 25px;
  }

  .select-dropdown li {
      padding: 10px;
      cursor: pointer;
      display: flex;
      gap: 0.5rem;
      align-items: center;
  }

  .select-dropdown li.selected {
      color: #010515;
      background-color: #11b7ff;
      border-radius: 4px;
      font-weight: bold;
  }

  .select-dropdown li:hover, .select-dropdown li:focus {
      color: #010515;
      background-color: #11b7ff;
      border-radius: 4px;
  }

  .select-dropdown.hidden {
      display: none;
  }

  .select-button[aria-expanded="true"] .arrow {
      transform: rotate(180deg);
  }

  .hidden{
      display: none;
  }

  .text-anim,

  .text-anim:after{
      display: inline-block;
      position: relative;
      animation: 0.35s 0s textGlitch;
      animation-timing-function: steps(2, end);
  }

  .text-anim:after{
      	--slice-0: inset(50% 50% 50% 50%);
	--slice-1: inset(80% -6px 0 0);
	--slice-2: inset(50% -6px 30% 0);
	--slice-3: inset(10% -6px 85% 0);
	--slice-4: inset(40% -6px 43% 0);
	--slice-5: inset(80% -6px 5% 0);

	content: 'Select Format';
	display: block;
	position: absolute;
	background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #00189b 5%);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #000000;
	border: 0;
	text-shadow: -3px -3px 0px #ff0042, 3px 3px 0px #00E6F6;
	clip-path: var(--slice-0);
  }

  .fadein{
      animation: 0.35s 0s fadein;
  }
  
  .thumbnailAnim{
       
  }
/* Fonts */


/* jersey-15-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jersey 15';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/jersey-15-v2-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-code-pro-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/source-code-pro-v23-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-code-pro-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/source-code-pro-v23-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* Animations */


@keyframes textGlitch {
	0% {
		clip-path: var(--slice-1);
		transform: translate(-20px, -10px);
	}
	10% {
		clip-path: var(--slice-3);
		transform: translate(10px, 10px);
	}
	20% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 10px);
	}
	30% {
		clip-path: var(--slice-3);
		transform: translate(0px, 5px);
	}
	40% {
		clip-path: var(--slice-2);
		transform: translate(-5px, 0px);
	}
	50% {
		clip-path: var(--slice-3);
		transform: translate(5px, 0px);
	}
	60% {
		clip-path: var(--slice-4);
		transform: translate(5px, 10px);
	}
	70% {
		clip-path: var(--slice-2);
		transform: translate(-10px, 10px);
	}
	80% {
		clip-path: var(--slice-5);
		transform: translate(20px, -10px);
	}
	90% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 0px);
	}
	100% {
		clip-path: var(--slice-1);
		transform: translate(0);
	}
}

@keyframes pulse2 {
  0% {
    opacity: 0.5;
  }
  70% {
      opacity: 1; 
  }
  100% {
      opacity: 0.5;
  }
}



@keyframes glitch {
  45% {
    filter: none;
  }
  46% {
    filter: url(#dist-01);
  }
  47% {
    filter: url(#dist-02);
  }
  48% {
    filter: url(#dist-03);
  }
  50% {
    filter: none;
  }
  95% {
    filter: none;
  }
  96% {
    filter:  url(#dist-02);
  }
  97% {
    filter:  url(#dist-04);
  }
}

@keyframes lights {
  0% {
    color: #11b7ff;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: #11d5ff;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: #11fcff;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: #11d5ff;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: #11b7ff;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

@keyframes fadein{
	0% {opacity: 0}
	100% {opacity: 1}
}

