<!DOCTYPE html>
<html>
    <head>
        <title>Youtube URL Converter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/yt2.ico">
    </head>
    <body id="background">
        <div id="Banner">
            <a href="https://nyxxusnovum.tv"><img id="HomeButton" src="/static/images/SmallMoon.png"></img></a>
            <h1 id="Title">Youtube URL Video Converter</h1>
        </div>
        <div id="InputDiv" align="center">
                <input type="text" id="YTLink" name="YTLink" required>
                <br/>
                <div id="Buttons" align=center>
                    <div class="custom-select" id="format-select">
                         <button id="dropdown-button"
                                 class="select-button"
                                 role="combobox"
                                 aria-label="select button"
                                 aria-haspopup="listbox"
                                 aria-expanded="false"
                                 aria-controls="select-dropdown"
                                 disabled
                           >
                             <span class="selected-value" id="format-value">Enter Video URL</span>
                             <span class="arrow"></span>
                        </button>

                        <ul class="select-dropdown hidden" role="listbox" id="select-dropdown" aria-labeledby="dropdown-button">
                        </ul>

                    </div>
                    <div class="custom-select" id="quality-select">
                         <button id="quality-button"
                                 class="select-button hidden"
                                 role="combobox"
                                 aria-label="select button"
                                 aria-haspopup="listbox"
                                 aria-expanded="false"
                                 aria-controls="select-dropdown"
                                 disabled
                           >
                             <span class="selected-value" id="quality-value">Quality (MP4)</span>
                             <span class="arrow"></span>
                        </button>

                        <ul class="select-dropdown hidden" role="listbox" id="quality-dropdown" aria-labeledby="dropdown-button">
                        </ul>

                    </div>
                    <button id="ConvertButton">Convert</button>
                </div>
                <span id="Stall"></span>
                <br/>
                <img id="thumbnail" ></img>
        </div>
        <div id="InstructionsDiv" align="center">
        <p>If you're here you probably know how this works, but here's the general rundown:</p>
        </br>
        <p>STEP 1: Grab a YouTube video URL</p> 
        <p>(Example: <a id="ExLink" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ?&autoplay=1">https://www.youtube.com/watch?v=dQw4w9WgXcQ</a>)</p>
        <p>STEP 2: Paste it in the textbox above</p>
        <p>STEP 3: Select the video format you want it in (MP4/M4A/MP3)</p>
        <p>STEP 3.5: Select video quality if downloading an mp4</p>
        <p>STEP 4: Click Convert and Profit :D</p>
        </div>
    </body>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="dist-01">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="8" result="noise" seed="0"/>
      <feConvolveMatrix in="noise" order="3" result="snoise"
      kernelMatrix="
         0  -1   0
        -1   5  -1
         0  -1   0    
      "/>
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="snoise" scale="6" />
    </filter>
    <filter id="dist-02">
      <feTurbulence id="turbulence" baseFrequency="0.2" numOctaves="8" result="noise" seed="1"/>
      <feConvolveMatrix in="noise" order="3" result="snoise"
      kernelMatrix="
         0  -1   0
        -1   5  -1
         0  -1   0    
      "/>
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="snoise" scale="6" />
    </filter>
    <filter id="dist-03">
      <feTurbulence id="turbulence" baseFrequency="0.01" numOctaves="6" result="noise" seed="2"/>
      <feConvolveMatrix in="noise" order="3" result="snoise"
      kernelMatrix="
         0  -1   0
        -1   5  -1
         0  -1   0    
      "/>
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="snoise" scale="6" />
    </filter>
    <filter id="dist-04">
      <feTurbulence id="turbulence" baseFrequency="0.01" numOctaves="6" result="noise" seed="2" type="FractalNoise"/>
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="6" />
    </filter>
  </defs> 
</svg>
  <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("YTLink").value = "";
      });

      var ran = 0;
      var thumbnailIMG = "maxresdefault";
      var videoID = "";
      function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
      }
      
      function populate(customSelect) {
          const selectButton = customSelect.querySelector(".select-button");
          const dropdown = customSelect.querySelector(".select-dropdown");
          const options = dropdown.querySelectorAll("li");
          const selectedValue = selectButton.querySelector(".selected-value");

          let focusedIndex = -1;

          const toggleDropdown = (expand = null) => {
              const isOpen = expand !== null ? expand : dropdown.classList.contains("hidden");
              dropdown.classList.toggle("hidden", !isOpen);
              selectButton.setAttribute("aria-expanded", isOpen);
              if (isOpen) {
                  focusedIndex = [...options].findIndex((option) => {
                      option.classList.contains("selected");
                  });
                  focusedIndex = focusedIndex === -1 ? 0 : focusedIndex;
                  updateFocus();
              } else {
                  focusedIndex = -1;
                  selectButton.focus();
              }
          };

          const updateFocus = () => {
              options.forEach((option, index) => {
                  if (option) {
                      option.setAttribute("tabindex", index === focusedIndex ? "0" : "-1");
                      if (index === focusedIndex) option.focus();
                  }
              });
          };

          const handleOptionSelect = (option) => {
              options.forEach((opt) => opt.classList.remove("selected"));
              option.classList.add("selected");
              selectedValue.textContent = option.textContent.trim();
          };

          options.forEach((option) => {
              option.addEventListener("click", () => {
                  handleOptionSelect(option);
                  toggleDropdown(false);
              });
          });

          if(ran<2){
            selectButton.addEventListener("click", () => {
                toggleDropdown();
            });

            selectButton.addEventListener("keydown", (event) => {
                if (event.key === "ArrowDown") {
                    event.preventDefault();
                    toggleDropdown(true);
                } else if (event.key === "Escape") {
                    toggleDropdown(false);
                }
            });
           ran = ran + 1;
          }
          dropdown.addEventListener("keydown", (event) => {
              if (event.key === "ArrowDown") {
                  event.preventDefault();
                  focusedIndex = (focusedIndex + 1) % options.length;
                  updateFocus();
              } else if (event.key === "ArrowUp") {
                  event.preventDefault();
                  focusedIndex = (focusedIndex - 1 + options.length) % options.length;
                  updateFocus();
              } else if (event.key === "Enter" || event.key === " ") {
                  event.preventDefault();
                  handleOptionSelect(options[focusedIndex]);
                  toggleDropdown(false);
              } else if (event.key === "Escape") {
                  toggleDropdown(false);
              }
          });
          document.addEventListener("click", (event) => {
              if(event.target.matches("input")) return;
              const isOutsideDropdownClicked = !customSelect.contains(event.target);

              if (isOutsideDropdownClicked) toggleDropdown(false);
          });
       }
  let textbox = document.getElementById("YTLink");
  textbox.addEventListener("change", async () => {
    let regex = /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:watch\?v=|embed\/|v\/)|youtu\.be\/)([\w\-]{11})/i;
    document.getElementById("select-dropdown").innerHTML = "";
    document.getElementById("quality-dropdown").innerHTML = "";
    document.getElementById("thumbnail").classList.remove("thumbnailAnim");
    document.getElementById("thumbnail").style.display = "none";
    if(regex.test(textbox.value)){
      document.getElementById("Stall").textContent = "Processing URL...";
      document.getElementById("Stall").classList.add("text-anim");
      await sleep(350);
      document.getElementById("Stall").classList.remove("text-anim");
      let res = await fetch("/formats", {
        method: "POST",
        body: JSON.stringify({URL: textbox.value}),
        headers: {"Content-Type": "application/json"}   
      });
      let data = await res.json();
      const dd = document.getElementById("select-dropdown");
      let button = document.getElementById("dropdown-button");
      document.querySelector("#dropdown-button .selected-value").innerText = "Select Format";
      document.getElementById("dropdown-button").disabled = false;
      document.querySelector("#dropdown-button .selected-value").classList.add("text-anim");
      document.getElementById("quality-button").disabled = true;
      document.querySelector("#quality-button .selected-value").innerText = "Quality (MP4)";
      for(let ext of data.ext) {
        const newEle = document.createElement("li");
        newEle.setAttribute("role", "option");
        newEle.innerText = `${ext}`;
        if(newEle.innerText==="mp4"){
	  newEle.addEventListener("click", () => {
            document.getElementById("quality-button").disabled = false;
          });
        }
        else{
          newEle.addEventListener("click", () => {
            document.getElementById("quality-button").disabled = true;
            document.getElementById("quality-value").textContent = "Quality (MP4)";
          });
        }
        dd.appendChild(newEle);
      }
      populate(document.getElementById("format-select"));
      let qualityList = document.getElementById("quality-button");
      qualityList.classList.remove("hidden");
      qualityList.classList.add("fadein");
      document.querySelector("#quality-button .selected-value").classList.add("text-anim");
      const qd = document.getElementById("quality-dropdown");
      for(let qual of data.quality) {
        const newEle = document.createElement("li");
        newEle.setAttribute("role", "option");
        newEle.innerText = `${qual}p`;
        qd.appendChild(newEle);
      }
      populate(document.getElementById("quality-select"));
      document.getElementById("Stall").classList.add("text-anim");
      const url = new URL(textbox.value);
      let domain = url.hostname.match(/^(?:.*?\.)?([a-zA-Z0-9\-_]{3,}\.(?:\w{2,8}|\w{2,4}\.\w{2,4}))$/)[1];
      if(domain.includes("youtu.be")){
        videoID = url.pathname.split("/")[1];
        console.log(videoID)
      }
      else{
        videoID = url.searchParams.get("v");
      }
      document.getElementById("thumbnail").src = `https://img.youtube.com/vi/${videoID}/${thumbnailIMG}.jpg`;
      document.getElementById("thumbnail").classList.add("fadein");
      document.getElementById("thumbnail").classList.add("thumbnailAnim");
      document.getElementById("thumbnail").style.display = "block";
      await sleep(350);
      qualityList.classList.remove("fadein");
      document.querySelector("#dropdown-button .selected-value").classList.remove("text-anim");
      document.querySelector("#quality-button .selected-value").classList.remove("text-anim");
      document.getElementById("Stall").textContent = "";
      document.getElementById("Stall").classList.remove("text-anim");
      document.getElementById("thumbnail").classList.remove("fadein");
    }
    else{
      if(document.querySelector("#dropdown-button .selected-value").innerText !== "Enter Video URL"){
        document.querySelector("#dropdown-button .selected-value").classList.add("text-anim");
      }
      document.querySelector("#quality-button .selected-value").classList.add("text-anim");
      if(document.getElementById("Stall").innerText === "Done!"){
        document.getElementById("Stall").classList.add("text-anim");
      }
      await sleep(350);
      document.getElementById("Stall").classList.remove("text-anim");
      document.getElementById("Stall").innerText = "";
      document.querySelector("#dropdown-button .selected-value").innerText = "Enter Video URL";
      document.getElementById("dropdown-button").disabled = true;
      document.querySelector("#quality-button .selected-value").innerText = "Quality (MP4)";
      document.getElementById("quality-button").classList.add("hidden");
      document.querySelector("#dropdown-button .selected-value").classList.remove("text-anim");
      document.querySelector("#quality-button .selected-value").classList.remove("text-anim");
      document.getElementById("thumbnail").src = "";
    }
  });
  
  let convert = document.getElementById("ConvertButton");
  let box = document.getElementById("YTLink");
  let format = document.getElementById("format-value");
  let quality = document.getElementById("quality-value");
  convert.addEventListener("click", async () =>{
    if(format.textContent !== "Select Format" && format.textContent !== "Enter Video URL" && !(format.textContent === "mp4" && quality.textContent === "Quality (MP4)")){
      let msg = document.getElementById("Stall");
      msg.innerText = "Converting...";
      msg.classList.add("text-anim");
      await sleep(350);
      msg.classList.remove("text-anim");
      let res = await fetch("/download", {
        method: "POST",
        body: JSON.stringify({URL: box.value, ext: format.textContent, quality: quality.textContent}),
        headers: {"Content-Type": "application/json"}
      });
      let data = await res.blob();
      msg.innerText = "Done!";
      msg.classList.add("text-anim");
      await sleep(350);
      msg.classList.remove("text-anim");
      var url = window.URL.createObjectURL(data);
      var a = document.createElement('a');
      a.href = url;
      a.download = res.headers.get("Content-Disposition").replace("attachment; filename=\"", "").replace("\"", "");
      document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
      a.click();    
      a.remove();  //afterwards we remove the element again
     }
  });
  
    (async () => {
      
        let YTLink = document.getElementById("YTLink");
        let index = 0;
      
        const randURLs = [
          "https://www.youtube.com/watch?v=v3VptS92QC0",
          "https://youtu.be/1Zf2RV_l8wA?si=7RQTgyHNxCUPoceR",
          "https://www.youtube.com/watch?v=StjW_iuFln4",
          "https://www.youtube.com/watch?v=-uk6_dv6VpY",
          "https://youtu.be/eeTftaeOyRE",
          "https://www.youtube.com/watch?v=-njVVRrPSUo",
          "https://youtu.be/i2dCxbAFWNk",
          "https://youtu.be/gbH-iRrq0Ec?si=I4xGmYN22kjXUaWJ",
          "https://youtu.be/9cj7w4RneWE?si=GG3E44J0aMpEVXE8",
          "https://youtu.be/RR63zWE7E0M?si=N3Omh7HuUGnClwsk",
          "https://www.youtube.com/watch?v=-tFRMFnZn8o",
          "https://www.youtube.com/watch?v=5Kxv-b3geh0"
        ];

        let selected = randURLs[0];
      
        for(let i = 0; i <= selected.length; i++){
          YTLink.placeholder = selected.substring(0, i+1);
          await sleep(25);
        };
        let remaining = 7500 - (2 * (selected.length * 25));
        await sleep(remaining);
        for(let i = selected.length-1; i >= 0; i--){
          YTLink.placeholder = selected.substring(0, i+1);
          await sleep(25);
        };

        while(true) {
          let tmp = Math.floor(Math.random() * (12 - 0) + 0);
          while(tmp===index){
            tmp = Math.floor(Math.random() * (12 - 0) + 0);
          }
          index = tmp;
          let selected = randURLs[index];
          
          for(let i = 0; i <= selected.length; i++){
            YTLink.placeholder = selected.substring(0, i+1);
            await sleep(25);
          };
          let remaining = 7500 - (2 * (selected.length * 25));
          await sleep(remaining);
          for(let i = selected.length-1; i >= 0; i--){
            YTLink.placeholder = selected.substring(0, i+1);
            await sleep(25);
          };
        }
      
    })();

    document.getElementById("thumbnail").addEventListener("load", function (event) {
    let timg = document.getElementById("thumbnail");
      if(timg.naturalWidth === 120){
        if(thumbnailIMG === "maxresdefault"){
           thumbnailIMG = "sddefault";
        }
        else if(thumbnailIMG === "sddefault"){
           thumbnailIMG = "hqdefault";
        }
        else if(thumbnailIMG === "sddefault"){
           thumbnailIMG = "mqdefault";
        }
        else if(thumbnailIMG === "mqdefault"){
           thumbnailIMG = "default";
        }
        document.getElementById("thumbnail").src = `https://img.youtube.com/vi/${videoID}/${thumbnailIMG}.jpg`;
      } 
    });
  </script>

</html>
